<div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">pan</th>
            <th scope="col">titular</th>
            <th scope="col">cedula</th>
            <th scope="col">telefono</th>
            <th scope="col">estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarjeta of tarjetasList">
            <td>{{tarjeta.pan}}</td>
            <td>{{tarjeta.titular}}</td>
            <td>{{tarjeta.cedula}}</td>
            <td>{{tarjeta.telefono}}</td>
            <td>{{tarjeta.estado}}</td>
          </tr>
        </tbody>
      </table>
</div>
