<div class="text-center mt-5">
  <h3> Listado de Tarjetas</h3>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">pan</th>
            <th scope="col">titular</th>
            <th scope="col">cedula</th>
            <th scope="col">telefono</th>
            <th scope="col">estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarjeta of tarjetasList">
            <td>{{tarjeta.pan}}</td>
            <td>{{tarjeta.titular}}</td>
            <td>{{tarjeta.cedula}}</td>
            <td>{{tarjeta.telefono}}</td>
            <td>{{tarjeta.estado}}</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center mt-5">
        <button type="button" class="btn btn-primary btn-lg" (click)="navegarPagina()">Transacciones</button>
      </div>
      
</div>
